services:
  server:
    #image: 
    #environment:
    # - TZ=America/Denver
    build:
      dockerfile: .docker/server/Dockerfile
      context: .
    ports:
      - "5000:5000"
    #networks:
      #- default
    command: -d /data/sites.json -p 0
    volumes:
      - db:/data

  crawler:
    #image:
    #environment:
    # - TZ=America/Denver
    build: 
      dockerfile: .docker/crawler/Dockerfile
      context: .
    command: "'0 12 * * *' -d /data/sites.json" # Run on a schedule
    #command: "once -d /data/sites.json" # Run once
    volumes:
      - db:/data

volumes:
  db:

#networks:
#  default:
#    name: default
#    external: true