h1 {
    background-color: red;
}

a {
    padding: 7px;
    border-radius: 10px;
}

.sub {
    background-color: lightcoral;
}

.local {
    background-color: lightgreen;
}

div {
    padding: 13px 7px;
}

h2 {
    margin-bottom: 0px;
}